<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        data: {
            table: document.getElementById('data'),
            switchRowsAndColumns: $transpose
        },
        chart: {
            height: $chartHeight,
            type: $chartType
        },
        title: {
            text: 'Data Visualization'
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Units'
            },
//            tickPixelInterval: 30
            minorTickInterval: 'auto'
        }
    });
});
</script>
